---
import Bio from "@components/home/Bio.astro";
import { Button } from "@components/home/Button";
import Hero from "@components/home/Hero";
import { Services } from "@components/home/Services";
import Layout from "@layout/Layout.astro";
import imagePrincipal from "/images/perfil2.png";
import BioImage from "/images/perfil.jpeg";
import { bioInfo } from "src/utils/config";
import { Carrusel } from "@components/home/Carrusel";
import { Modal } from "@components/home/Modal";

const posts = await fetch("https://apimocha.com/vetporrez/api/v1/posts").then(
  (res) => res.json()
);
---

<Layout
  title="home"
  description="Veterinaria en Tulancingo San martin de porres, con servicios de vacunas, desparasitantes, consultas, baño dermatológico, pensión entre otros"
>
  <Hero imageUrl={imagePrincipal}>
    <Button text="Agendar cita" client:load />
  </Hero>
  <main class="lg:mx-52 mx-4 md:mt-20 mt-8">
    <section class="my-14">
      <h4 class="text-2xl font-bold mb-5 text-center">Nuestros Servicios</h4>
      <ol
        class="grid gap-4 justify-center grid-cols-[repeat(auto-fit,minmax(320px,1fr))]"
      >
        <Services typeCard="shop" />
        <Services typeCard="consulta" />
        <Services typeCard="estetica" />
      </ol>
    </section>
    <Bio
      name={bioInfo.name}
      lic={bioInfo.lic}
      image={BioImage}
      mision={bioInfo.mision}
    />
    <Carrusel posts={posts} client:visible />
  </main>
  <Modal client:load />
</Layout>
